/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,ul,  li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    width: 1000px;
    font-family: Verdana;
    margin: 0 auto;
}

/* link */
.link{
       
}



.link .toplink{
    display:flex;    
   justify-content:flex-end;
    padding-top:3px;
    padding-right:10px;
    font-size: 16px;
  
}
.link li{
    margin: 3px;
}

.link li a{
    text-decoration:none;
    font-weight: bold;
}
.link .tl-li a{
    color:#7388b7;
   
}
.link .tl-li2 a{
color: #62c8f0;

}
.toplink .tl-li{
    border-right:1px solid #cccccc; 
    padding-right: 8px;
}

/* nav  */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
   
}
.nav li{
    margin: 5px;
}
.nav a{
    display: block;
    text-decoration:none;
    color:#66e0c2;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.nav a:hover{
    border-bottom:3px solid #66e0c2;
}
/* banner */

.banner{
   height: 340px;   
padding-top: 90px; 
background-image:url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
    box-sizing: border-box;  
    position: relative; 
}

.banner .bd{
    height: 150px;          
    background: black;
    opacity:0.3;
}
.banner .bp{   
    position: absolute;
    top:120px;
    left:15px;
    font-size: 30px;
    line-height: 40px; 
  color: white;   
}

/* content */
.content{  
    display: flex;  
    align-items: center;  
    padding: 5px;
}
.content h2{
 text-align: center;
   margin-bottom: 5px;
   font-weight:550;
   font-size: 20px;
}
.content .box{
  height: 325px;
  width: 350px;
  box-sizing: border-box;  
  padding: 10px;
  box-shadow: 0px 3px 2px rgb(185, 182, 182);
}
.content .logo{
   height: 140px;
   
}
.content .rwd .logo{
    padding-top: 40px;
}
.content img{
    
    display: block;  
    margin: 0 auto; 
    margin-bottom: 5px; 
}

.content .html5{
margin-right: 10px;
}
.content .html5 h2{
    padding-top: 10px;
}
.content .html5 .logo{
    padding-top: 30px;
}
.content .rwd{
    margin-right: 10px;
 
}

.content .jq .logo{
    padding-top: 40px;
}
.content .jq ul{
margin-left: 20px;
list-style-type:square;

}


/* products */
.products{
    text-align: center;
   padding:40px;
}
.products h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.pc{
    margin: 0 auto;   
}


.pc tr{    
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.pc th,td{
    padding: 10px 60px 10px 60px;
}
.pc th{
    font-weight: bold;
}
.products .gr{
    color:#88d5c2;
font-weight: bold;
}

/* regsister */
.regsiter{
    background:linear-gradient(#00644b,#009771);
}
.regsiter .rh{
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 22px;    
}

.main{
    display: flex;
    justify-content:space-around;
}
.data{    
    padding: 20px;
}
.data textarea{
    border-radius:4px;
    width: 450px;
}
.list{
    padding: 20px;
}
.list #name{
   margin-top: 3px;
   margin-bottom: 10px;
  border-radius:4px;
    width: 450px;   
    font-size: 20px;
}
.list #phone{
   margin-top: 3px;
   margin-bottom: 10px;
  border-radius:4px;
    width: 450px;
    font-size: 20px;
}
.list #mail{
   margin-top: 3px;
   margin-bottom: 10px;
  border-radius:4px;
    width: 450px;
    font-size: 20px;
}
.list label{
    color: #fff;
}

.list .send{
    margin-left: 400px;
    width: 60px;
    height: 30px;
    border-radius:3px;
    background: #00cc99; 
  color:#fff;
  padding: 5px 15px 5px 15px ;
}

/* foot */
.foot{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 60px 20px;
}
.foot .mail{ 

    color: #333333;
}
.foot .mail span{
    color: #e12d80;
}
